<app-map-3d
  [center]="camera().center"
  [centerAltitude]="camera().center.altitude ?? 0"
  [heading]="camera().heading"
  [mapId]="mapId()"
  [range]="camera().range"
  [tilt]="camera().tilt"
>
  <ng-template>
    <gmp-popover #hotelPopover id="hotelPopover">
      @if (popoverHotel(); as hotel) {
        <app-hotel-info-window
          [hotel]="hotel"
          (detailsRequested)="requestHotelDetails(hotel)"
          (closed)="closePopover()"
        >
        </app-hotel-info-window>
      }
    </gmp-popover>

    @for (markerView of markers(); track markerView.id) {
      <gmp-marker-3d-interactive
        altitude-mode="CLAMP_TO_GROUND"
        collision-behavior="REQUIRED"
        [attr.position]="markerView.position3d"
        [attr.title]="markerView.title"
        (gmpClick)="openHotelPopover($event, markerView.hotel)"
      ></gmp-marker-3d-interactive>
    }
  </ng-template>
</app-map-3d>
