@if (apiLoaded()) {
  <google-map
    #googleMap="googleMap"
    height="100%"
    width="100%"
    [mapId]="mapId"
    [options]="options()"
    (mapInitialized)="handleMapInitialized($event)"
    (authFailure)="handleMapsAuthFailure()"
  >
    @if (contentTemplate; as template) {
      <app-map-content-outlet [googleMap]="googleMap" [content]="template"></app-map-content-outlet>
    }
  </google-map>
} @else if (apiLoadError()) {
  <div class="loading-message">
    {{ apiLoadError() }}
  </div>
} @else {
  <div class="loading-message">Harita yukleniyor, lutfen bekleyin...</div>
}
